CLIENT_SERVER=
MEDUSA_ADMIN_EMAIL=
MEDUSA_ADMIN_PASSWORD=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_DEFAULT_REGION=
NEXT_PUBLIC_INDEX_NAME=
NEXT_PUBLIC_MEDUSA_BACKEND_URL=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_SEARCH_API_KEY=
NEXT_PUBLIC_SEARCH_APP_ID=
NEXT_PUBLIC_SEARCH_ENDPOINT=
NEXT_PUBLIC_STRIPE_KEY=
PGDATABASE=
PGHOST=
PGPASSWORD=
PGPORT=
PGUSER=
PRODUCTION_POSTGRES_DATABASE=
REVALIDATE_SECRET=
TEST_POSTGREST_PORT=
TEST_POSTGRES_DATABASE=
TEST_POSTGRES_DATABASE_TEMPLATE=
TEST_POSTGRES_HOST=
TEST_POSTGRES_USER=